<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jv.tdni.mybatis.dao.IEmployeeMapper">
    <!-- public void addEmployee(Employee employee); -->
    <!-- parameterType 可以省略 -->
    <insert id="addEmployee" parameterType="jv.tdni.mybatis.beans.Employee">
        insert into employee(last_name, gender, email) values(#{lastName}, #{gender}, #{email})
    </insert>

    <!-- public void deleteEmployeeById(Integer id); -->
    <delete id="deleteEmployeeById">
        delete from employee where id=#{id}
    </delete>

    <!-- public void updateEmployee(Employee employee); -->
    <update id="updateEmployee">
        update employee set last_name=#{lastName}, gender=#{gender}, email=#{email} where id=#{id}
    </update>

    <!-- public Employee getEmployeeById(Integer id); -->
    <select id="getEmployeeById" resultType="jv.tdni.mybatis.beans.Employee">
        select id, last_name lastName, gender, email from employee where id = #{id}
    </select>
</mapper>